Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/

*.sln
*.VC.db
*.VC.opendb
*.suo
*.user
*.userprefs

Thumbs.db
.DS_Store

Config/DefaultEditorPerProjectUserSettings.ini

# Stock Unreal template content
Content/Characters/
Content/Input/
Content/LevelPrototyping/
Content/ThirdPerson/

# External actor data for stock Third Person template level
Content/__ExternalActors__/ThirdPerson/
Content/__ExternalObjects__/ThirdPerson/